{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}

<section class="articles">

    {% for article in articles %}
        <article>
            <h2>{{ article.title }}</h2>
            <div class="content">
            <p>{{ article.content | raw }}</p>
                <img src="{{ article.image }}" alt="">
                <a href="{{ path('blog_edit', { 'id': article.id }) }}" class ="btn btn-primary"> Modifier </a>
                <a href="{{ path('article_delete', { 'id': article.id }) }}" onclick="return confirm('Supprimer ?')" class ="btn btn-danger"> Supprimer la section </a>
            </div>
        </article>
    {% endfor %}
    <hr>
    {% for projet in projets %}
        <projet>
            <h2>{{ projet.title }}</h2>
            <div class="content">
            <p>{{ projet.content | raw }}</p>
                <img src="{{ projet.img }}" alt="">
                <a href="{{ path('pro_edit', { 'id': projet.id }) }}" class ="btn btn-primary"> Modifier </a>
                <a href="{{ path('pro_delete', { 'id': projet.id }) }}" onclick="return confirm('Supprimer ?')" class ="btn btn-danger"> Supprimer la section </a>
            </div>
        </projet>
    {% endfor %}

</section>

{% endblock %}
